db_data/
pg_data/
logs/
moodledata_data/cache/
moodledata_data/localcache/
moodledata_data/temp/
moodledata_data/filedir/
moodle_data/moodledata/www/moodledata/filedir/
zk_data/
zk_datalog/
redis/
backup/moodle/
