
<div class="pythoncards-wrapper">
    <h1>Olá, {{userfullname}}! 👋</h1>
    <div class="progress-bar"><div class="fill" style="width:45%;"></div></div>
    <div class="card-container">
        {{#sections}}
        <div class="card" style="background-color: {{{cardcolor}}}">
            <h2>{{name}}</h2>
            <p>{{summary}}</p>
        </div>
        {{/sections}}
    </div>
</div>
